# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar outros arquivos que você não quer rastrear
*.tgz